@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-gray-900
}

::view-transition-old(root) {
  animation: slide-out 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

::view-transition-new(root) {
  animation: slide-in 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

:root {
  --direction: -1;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(50% * var(--direction)));
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(calc(-50% * var(--direction)));
  }

  100% {
    transform: translateX(0%);
  }
}