[Desktop Entry]
Name=LibreRemotePlay
Exec=LibreRemotePlay
Icon=io.github.PiterWeb.LibreRemotePlay
Type=Application
Keywords=remoteplay,steamremoteplay,libreremoteplay;
Categories=Utility;